<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.mapper.LoginMapper">
	<!-- 根据用户的用户名和密码来查询 -->
	<select id="login" resultType="User">
		SELECT s.*,t.typeName FROM `user` s,`type` t  WHERE userName = #{userName} AND userPwd= #{userPwd} AND s.typeId=t.id
	</select>
	<!-- 判断一个用户的用户名是否存在 -->
	<select id="isUserName" resultType="int">
		SELECT count(1) FROM `user` WHERE userName = #{userName}
	</select>
	<!-- 根据用户的用户名和身份证来修改密码 -->
	<update id="userPwdUpdate">
		UPDATE `USER` SET userPwd = #{userPwd} WHERE userName=#{userName} AND cardId=#{cardId}
	</update>
	<!-- 查询所有的用户类型 -->
	<select id="userType" resultType="Type">
		SELECT * FROM type
	</select>
	<!-- 添加一个用户 -->
	<insert id="addUser" parameterType="User">
		INSERT INTO `user`
		VALUES (NULL,#{userName},#{userPwd},#{typeId},#{phone},#{email},#{gender},#{QQ},#{address},#{cardId})
	</insert>
</mapper>