<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.mapper.DormCURDMapper">
	<!-- 查询寝室 -->
	<select id="queryDorm" resultType="Dorm">
		select * from dorm 
		<if test="dormName != null">
			where dormName LIKE CONCAT('%',#{dormName},'%') 
		</if>
	</select>
	<!-- 根据id查询寝室 -->
	<select id="queryDormById" resultType="Dorm">
		select * from dorm where id=#{id}
	</select>
	<!-- 查询还没有分配寝室的学员 -->
	<select id="queryStudentDormIdIsNull" resultType="Student">
		SELECT * FROM student WHERE dormId IS null
	</select>
	<!-- 查询某个寝室的所有学员-->
	<select id="queryStudentByDormId" resultType="Student"> 
		SELECT s.*,d.id dormId FROM student s,dorm d WHERE dormId =#{id} and s.dormId=d.id
	</select>
	<!-- 删除寝室 -->
	<delete id="deleteDorm">
		DELETE FROM dorm WHERE livepeople &lt;= 0 AND id=#{id}
	</delete>
	<!-- 添加寝室 -->
	<insert id="addDorm" parameterType="Dorm">
		INSERT INTO dorm VALUES (NULL,#{dormName},0,#{canlivepeople})
	</insert>
	<!-- 判断寝室名称是否存在 -->
	<select id="queryDormByName" resultType="Integer">
		select COUNT(*) from dorm where dormName =#{dormName}
	</select>
	<!-- 查询人数还没满的寝室 -->
	<select id="queryDormLivepeopleKng" resultType="Dorm">
		SELECT * FROM dorm WHERE livepeople &lt; canlivepeople 
	</select>
	<!-- 修改寝室信息 -->
	<update id="updateDorm" parameterType="Dorm">
		UPDATE dorm SET dormName=#{dormName},canlivepeople=#{canlivepeople} WHERE id= #{id}
	</update>
	<!-- 将一个宿舍已住人数减1 -->
	<update id="updateDormDown">
		UPDATE dorm SET livepeople=livepeople-1 WHERE id=#{id}
	</update>
	<!-- 将一个宿舍已住人数加1 -->
	<update id="updateDormUp">
		UPDATE dorm SET livepeople=livepeople+1 WHERE id=#{id}
	</update>
	<!-- 将学员添加到宿舍 -->
	<update id="updateStudentDormId">
		UPDATE student SET dormId = 
		<if test="dormId != null">
			#{dormId}
		</if>
		<if test="dormId ==null">
			null
		</if>
		WHERE id= #{studentId}
	</update>
</mapper>