<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.mapper.StudentCURDMapper">
	<!-- 根据班级id来查询这个班级的人数 -->
	<select id="ClassCount" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM student WHERE classId=#{id}
	</select>
	<!-- 查询所有学生数据符合条件的学生数据 -->
	<select id="queryStudent" resultType="Student">
		SELECT u.*,c.className
		FROM student u,classInfo c
		WHERE u.classId=c.id
		<if test="queryStudentName != '' and queryStudentName != null">
			AND u.studentName LIKE CONCAT('%',#{queryStudentName},'%') 
		</if>
		<if test="queryStudentGender != -1">
			AND u.gender = #{queryStudentGender} 
		</if>
		<if test="queryStudentClassId != -1">
			AND u.classId=#{queryStudentClassId}
		</if>
	</select>
	<!-- 根据id来查询一条学员数据 -->
	<select id="queryStudentById" resultType="Student" parameterType="Integer">
		SELECT * FROM student WHERE id=#{id}
	</select>	
	
	<!-- 根据用户id来删除一个学员 -->
	<delete id="deleteStudent" parameterType="Integer">
		DELETE FROM student WHERE id =#{id}
	</delete>
	<!-- 根据用户id来修改学员 -->
	<update id="updateStudent" parameterType="Student">
		UPDATE student SET studentName=#{studentName},phone=#{phone},email=#{email},gender=#{gender},QQ=#{QQ},address=#{address},cardId=#{cardId},classId=#{classId} WHERE id=#{id}
	</update>
	<!-- 添加一个学员 -->
	<insert id="addStudent" parameterType="Student">
		INSERT INTO student
		VALUES (NULL,#{studentName},5,#{phone},#{email},#{classId},#{gender},#{cardId},#{QQ},#{address},null)
	</insert>
	<!-- 查询所有年级信息 -->
	<select id="queryClassInfo" resultType="ClassInfo">
		SELECT * FROM classInfo
	</select>
</mapper>
